<div class="container">
  <div class="row">
      <button class="btn btn-success mt-5 mb-2" (click)="resetProps()" data-toggle="modal" data-target="#modal">Cadastrar Novo</button>
  </div>
  <div class="row">      
    <table class="table table-bordered">
      <thead>
        <th>CNPJ</th>
        <th>CPF</th>
        <th>Número da Apólice</th>
        <th>Placa do Veículo</th>
        <th>Valor do Prêmio</th>
        <th>Ações</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of seguros">
          <td>{{item.cnpj}}</td>
          <td>{{item.cpf}}</td>
          <td>{{item.numeroApolice}}</td>
          <td>{{item.placaVeiculo}}</td>
          <td>{{item.valorPremio}}</td>
          <td>
            <button class="btn btn-warning mr-1" (click)="obterSeguroPorId(item.id)" data-toggle="modal" data-target="#modal">Editar</button>
            <button class="btn btn-danger" (click)="deletarSeguro(item.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>    
  </div>
</div>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Salvar Seguro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input type="hidden" [(ngModel)]="seguro.id">
            <div class="form-group">
              <label>CPF</label>
                <input type="text" [(ngModel)]="seguro.cpf" class="form-control"  placeholder="000.000.000-00">
            </div>
            <div class="form-group">
              <label>CNPJ</label>
                <input type="text" [(ngModel)]="seguro.cnpj" class="form-control"  placeholder="00.000.000/0001-00">
            </div>
            <div class="form-group">
                <label>Nº da Apolice</label>
                <input type="number" [(ngModel)]="seguro.numeroApolice" class="form-control"  placeholder="Número da Apólice">
            </div>
            <div class="form-group">
                <label>Placa do Veiculo</label>
                <input type="text" [(ngModel)]="seguro.placaVeiculo" class="form-control"  placeholder="ABC-1234">
            </div>
            <div class="form-group">
                <label>Valor do Prêmio</label>
                <input type="text" [(ngModel)]="seguro.valorPremio" class="form-control"  placeholder="Valor do Prêmio">
            </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="salvarSeguro(seguro)">Salvar</button>
        </div>
      </div>
    </div>
  </div>